body {
    background-color:#556978 ;
}

p {
    background-color: bisque;
    border-radius: 5px;
    padding: 10px;
}

.color-example {
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #AAAAAA;
    border: 2px solid blue;
    text-align: center;
    
}

.text-example {
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    text-transform: capitalize;
    text-decoration: underline;
}

.text-paragraphs {
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}

.header-example {
    font-size: 46px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(25, 26, 27);
    text-align: center;
    border: 1px solid #AAAAAA;
    padding: 10px;
}

.list-example {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.list-example li {
    margin: 0 15px;
}

.div-example {
    background-color: #AAAAAA;
    border: 2px solid blue;
}

.image-pos {
    display: flex; 
    justify-content: space-between; 
}

.image-pos img {
    width: 50%;
    height: auto; 
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
